[submodule "rsb/rtems-source-builder"]
	path = rsb/rtems-source-builder
	url = git@github.com:RTEMS/rtems-source-builder.git
	branch = 4.11.3

[submodule "rtems"]
	path = rtems
	url = git@github.com:unitatem/rtems.git
	branch = 4.11.3

